body{
    font-family: sans-serif;
}
table,td{
    background-color: #e8dcff;
    border: 1px solid black;
    padding: 2%;
    text-align: left;
}
table{
    border-collapse: collapse;
}
input{
    background-color: #feffb0;
    font-weight: bold;
    text-align: right;
}
p{
    color: #174c68;
    font-weight: bold;
    font-size: 18px;
}